<div class="container">
        <div class="row">  
          <div class="col-md-4">
            <a [routerLink]="['/interests']" class="custom-card">
              <div class="card" style="width: 20rem; display: inline-block">
                <div class="card-body">
                  <h4 class="card-title">Points of Interest</h4>
                  <div>
                    <img class="card-img-bottom" src="../assets/location.jpg" alt="Card image" style="width:278px">
                  </div>
                  <!--<p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>-->
                </div>
              </div>
            </a>
            </div>
            <div class="col-md-4">
              <a [routerLink]="['/contacts']" class="custom-card">
                <div class="card" style="width: 20rem; display: inline-block">
                  <div class="card-body">
                    <h4 class="card-title">Points of Contact</h4>
                    <div>
                      <img class="card-img-bottom" src="../assets/hr.jpg" alt="Card image" style="width:100%">
                    </div>
                    <!--<p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>-->
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a [routerLink]="['/locations']" class="custom-card">
                <div class="card" style="width: 20rem; display: inline-block">
                  <div class="card-body">
                    <h4 class="card-title">Location/Directions</h4>
                    <div>
                      <img class="card-img-bottom" src="../assets/location2.jpg" alt="Card image" style="width:100%">
                    </div>
                      <!--<p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>-->
                  </div>
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="container center">
         
            <div>
                <a [routerLink]="['/quicklinks']" class="custom-card">
                  <div class="card" style="">
                    <div class="card-body">
                      <h4 class="card-title">Quick Links</h4>
                      <!-- <div>
                        <img class="card-img-bottom" src="../assets/infosys.jpg" alt="Card image" style="width:100%">
                      </div> -->
                      <p class="card-text">Helpful links to help you start your new career</p>
                    </div>
                  </div>
                </a>
              </div>
          
      </div>
      <a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=mk6xufdp49kwns7zd1fxj2a471fglwgc" border="0" title="web counter" alt="web counter"></a>